@font-face {
    font-family: 'Lexend Light';
    src: url(../misc/Lexend-Light.ttf);
}

@font-face {
    font-family: 'Lexend Medium';
    src: url(../misc/Lexend-Medium.ttf);
}

body {
    margin: 0;
    background-color: gray;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    grid-area: nav;

    background-color: #e74c3c;
    font-size: 1.3rem;
    font-family: Lexend Medium;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.nav_item {
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
}
div.nav_item:hover {
    background-color: #f55140;
}

h2, div.nav_item {
    padding: 5px 10px 5px 10px;
    margin: 0;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/header_background.png);
    background-size: cover;

    color: white;
    font-family: Lexend Medium;
    font-size: 5rem;
}

footer {
    grid-area: footer;

    background-color: #181a1b;
}

main {
    grid-area: main;

    background-color: #e74c3c;
}
#wrapper_index {
    height: 300vh;

    display: grid;
    grid-template-areas: 
    'nav'
    'header'
    'main'
    'footer';

    grid-template-columns: auto;
    grid-template-rows: 3% 20% 65% 12%;
}
