@font-face {
    font-family: 'Lexend Light';
    src: url(../misc/Lexend-Light.ttf);
}

@font-face {
    font-family: 'Lexend Medium';
    src: url(../misc/Lexend-Medium.ttf);
}

body {
    margin: 0;
    font-family: Lexend Medium;
}

p {
    font-family: Lexend Light;
}

a {
    color: #f55140;
    text-decoration: none;
}

nav {
    grid-area: nav;

    background-color: #ffffff;
    font-size: 1.3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.nav_item {
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
}
div.nav_item:hover {
    background-color: #f8f8f8;
}

div.nav_item > h2 {
    padding: 5px 10px 5px 10px;
    margin: 0;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/header_background.png);
    background-size: cover;

    color: #ffffff;
    font-size: 5rem;
}

main {
    grid-area: main;
    
    background-color: #ffffff;
}
#wrapper_index {
    height: 300vh;
    
    display: grid;
    grid-template-areas: 
    'nav'
    'header'
    'main'
    'footer';
    
    grid-template-columns: auto;
    grid-template-rows: 3% 20% 65% 12%;
}

footer {
    grid-area: footer;

    display: flex;
    background-color: #F55140;
    color: #000000;
}

footer > div {
    padding: 2rem;
}

#om_oss {
    width: 30%;

}

#kundservice {
    width: 30%;

}

#kontakt {
    width: 40%;
    
}

footer > div > h3 {
    width: fit-content;
    padding-bottom: 1px;
    border-bottom: 2px solid #000000;
}

/* f8f8f8 */