@font-face {
    font-family: 'Lexend Light';
    src: url(../misc/Lexend-Light.ttf);
}

@font-face {
    font-family: 'Lexend Medium';
    src: url(../misc/Lexend-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Lexend Medium;
}

h1 {
    font-size: 10vw;
}

h4 {
    width: fit-content;
    color: #000000;
}

p {
    font-family: Lexend Light;
    font-size: 1vw;
    line-height: 3vh;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;

    display: inline-block;
    width: fit-content;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 2vh;
}

li {
    margin: 0 0 1vh 0;
}

.underline {
    text-decoration: underline;
}

#wrapper_index {
    height: fit-content;
    
    display: grid;
    grid-template-areas: 
    'nav'
    'header'
    'main'
    'footer';
    
    grid-template-columns: auto;
    grid-template-rows: 9vh 75vh min-content min-content;
}

/*#region nav*/
nav {
    grid-area: nav;
    
    background-color: #ffffff;
    font-size: 1.5vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logga {
    height: 90%;
}

#logga img {
    height: 100%;
}

nav > a {
    color: #f55140;
}

div.nav_item {
    height: fit-content;
    width: fit-content;
    border-radius: 1vw;
}
div.nav_item:hover {
    background-color: #f2f2f2;
}

div.nav_item > h2 {
    padding: 0.3vw 0.8vw 0.4vw 0.8vw;
    margin: 0;
}
/*#endregion*/

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(../img/header_background.png);
    background-size: cover;
    background-position: center;
    
    color: #ffffff;
}

main {
    grid-area: main;
    
    background-color: #ffffff;
}

/*#region main index*/
#index {
    display: grid;
    grid-template-areas: 
    'rubrik rubrik'
    'text text'
    'box1 box2';
    
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
    
    margin: 0 10% 0 10%;
}

#box_workout {
    grid-area: box1;
}
#box_health {
    grid-area: box2;
}

#index > * {
    height: fit-content;
    width: fit-content;
}

#index > h2 {
    grid-area: rubrik;
    
    font-size: 1.8vw;
    text-align: center;

    width: 100%;
    margin: 24vh 0 2vh 0;
    padding-bottom: 0.1vh;
}

#index h3 {
    font-size: 2vw;
    margin: 2vh 0 0 0;
    text-align: center;
}

#index > p {
    grid-area: text;
    margin: 0;
    justify-self: center;
}

#index > a {
    width: 90%;
    margin: 24vh 0 24vh;
    justify-self: center;
}

#index > a:hover div{
    background-color: #e0e0e0;
}
#index > a:hover h3{
    text-decoration: underline;
}

.index_main_boxes {
    display: flex;
    flex-direction: column;
    
    height: fit-content;
    
    background-color: #f2f2f2;
    border-radius: 1vw;
}

.index_main_boxes > img {
    width: 100%;
    display: block;
    margin: 0 0 2vh 0;
    border-radius: 1vw 1vw 0 0;
}

p.index_box_text {
    margin: 2vw;
    text-decoration: none !important;
}

/*#endregion*/

/*#region main card*/
#card {
    display: grid;
    grid-template-areas: 
    'card1 card2 card3'
    'card4 card5 card6';

    grid-template-columns: calc(100%/3 - 4vw/3) calc(100%/3 - 4vw/3) calc(100%/3 - 4vw/3);
    grid-template-rows: min-content min-content;

    margin: 24vh 15% 24vh 15%;
    gap: 2vw;
}

#card1 { grid-area: card1; }
#card2 { grid-area: card2; }
#card3 { grid-area: card3; }
#card4 { grid-area: card4; }
#card5 { grid-area: card5; }
#card6 { grid-area: card6; }

.card {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    /* background-color: #f2f2f2; */
    background-color: lightgrey;
    border-radius: 1vw;
}

.card_rubrik {
    font-size: 2.5vw;
    text-align: center;
}

.card_pris {
    font-size: 4vw;
    text-align: center;
    text-decoration: underline;

    margin: 2vh 0 5vh 0;
}

a.card_knapp {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 4vh auto 1vh auto;
}
div.card_knapp {
    width: fit-content;
    height: fit-content;
    padding: 1vh 3vw;
    border-radius: 2vw;
    
    background-color: #f55140;
    text-decoration: 0.3vh underline;
}
div.card_knapp:hover {
    background-color: #ff5c4a;
}

.kop {
    font-size: 1.5vw;
}
/*#endregion*/

/*#region footer*/
footer {
    grid-area: footer;

    display: flex;
    justify-content: space-between;
    background-color: #F55140;
}

footer h4 {
    font-size: 1.3vw;
    margin: 1vw 0 1vw 0;
    padding-bottom: 0.1vw;
    border-bottom: 0.2vw solid #000000;
}

footer > div {
    padding: 1.5vw 2vw 0 2vw;
    width: 30%;
}

#social_media {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
}

.social_icon {
    width: 8vh;
    height: 8vh;
    margin: 1vh 0.8vw 1vh 0.8vw;
}

#tack {
    margin: 7vh 0 2vh;
}
/*#endregion*/